body {
    margin:0;
    font-family:'Segoe UI';
    background: linear-gradient(135deg,#fceff9,#e0f7fa,#e8f5e9);
    overflow-x:hidden;
}

#particles-js {
    position:fixed;
    width:100%;
    height:100%;
    z-index:-1;
}

.glass {
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);
    border-radius:20px;
    box-shadow: 0 8px 32px rgba(31,38,135,0.2);
    margin:20px;
    padding:30px;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a {
    margin:0 15px;
    text-decoration:none;
    color:#333;
}

.hero {
    text-align:center;
    padding:100px 20px;
}

button {
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#a5d6a7;
    cursor:pointer;
}

.section {
    text-align:center;
}

input {
    display:block;
    margin:10px auto;
    padding:10px;
    width:80%;
    border-radius:10px;
    border:none;
}

.whatsapp {
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px;
    border-radius:50px;
    text-decoration:none;

}

.grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card {
    padding:20px;
    border-radius:15px;
    background:rgba(255,255,255,0.35);
    backdrop-filter:blur(10px);
    transition:0.3s;
}

.card:hover {
    transform:translateY(-8px);
    background:rgba(255,255,255,0.5);
}

ul {
    text-align:left;
    max-width:900px;
    margin:auto;
}

footer {
    text-align:center;
    padding:20px;
}
